@model List<SliderListItemVM>
@{
    ViewData["Title"] = "Index";
}
@section styles {
    <link href="~/Admin/css/sb-admin-2.min.css" rel="stylesheet">
}
@section scripts {
    <script src="~/Admin/js/sb-admin-2.min.js"></script>
    @if (TempData["Response"] != null)
    {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        @if ((bool)TempData["Response"] == true)
        {
            <script>
                Swal.fire({
                    position: "center",
                    icon:"success" ,
                    title: "Deleted",
                    showConfirmButton: false,
                    timer: 1500
                });
            </script>
        }
        else
        {
            <script>
                Swal.fire({
                    position: "center",
                    icon: "Error",
                    title: "Wrong",
                    showConfirmButton: false,
                    timer: 1500
                });
            </script>
        }

    }
}
<a class="btn btn-outline-success mb-3" href="/Admin/Slider/Create">Create</a>
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" cellspacing="0">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Image</th>
                <th class="text-center">Title</th>
                <th class="text-center">Text</th>
                <th class="text-center">Position Image</th>
                <th class="text-center">Position Text</th>
                <th class="text-center" colspan="2">Action</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td> <img class="w-50" src="@item.ImageUrl" /></td>
                    <td>@item.Title</td>
                    <td>@item.Text</td>
                    <td>@(item.IsRightText ? "Right" : "Left")</td>
                    <td>@(item.IsLeft ? "Left" : "Right")</td>
                    <td><a class="btn btn-outline-info" asp-action="Update" asp-route-id="@item.Id">Update</a></td>
                    <td><a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                </tr>
            }
    </table>
</div>
