@using PustokBackEnd.Areas.Admin.ViewModels
@model IEnumerable<AdminProductListItemVM>
@{
    ViewData["Title"] = "Index";
}


<a asp-action="Create" asp-controller="Product" class="btn btn-outline-success mb-3">Create</a>
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" cellspacing="0">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Name</th>
                <th class="text-center">ImageUrl</th>
                <th class="text-center">Brands</th>
                <th class="text-center">RewardPoint</th>
                <th class="text-center">SellPrice</th>
                <th class="text-center">CostPrice</th>
                <th class="text-center">Discount</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Category</th>
                <th class="text-center" colspan="2">Action</th>


            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr class='@(item.IsDeleted?"bg-danger":"")'>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.ImageUrl</td>
                        <td>@item.Brands</td>
                        <td>@item.RewardPoint</td>
                        <td>@item.SellPrice</td>
                        <td>@item.CostPrice</td>
                        <td>@item.Discount</td>
                        <td>@item.Quantity</td>
                        <td>@item.Category.Name</td>
                        <td><a class="btn btn-outline-info" asp-action="Update" asp-route-id="@item.Id">Update</a></td>
                        <td><a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="10">No Data</td>
                </tr>
            }


    </table>
</div>



